/*
	////////////////////////////////////////////////////////////////
	header css
	////////////////////////////////////////////////////////////////
*/
.menu-toggle {
	display: none; position: fixed; right: 0; top: 0; padding: 10px; background: #E36B2D; z-index: 15;
}
.menu-toggle img {
	display: block;
}

header {
	padding-bottom: 10px;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	.wrap {
		margin: 0 auto;
		width: 960px;
		max-width: 100%;
		position: relative;
		height: 55px;
	}
	.logo {
		vertical-align: middle;
		padding-left: 0px;
		max-width: 55px;
		max-height: 55px;
	}
	nav {
		position: absolute;
		bottom: 0;
		padding-left: 75px;
		line-height: 1.4;
		width: 890px;
		> ul > li  {
			float: left;
			&.right {
				float:right;
			}
			&:hover {
				&.switch > a, > a.item {
					// background: rgba(255,255,255,0.2);
					//border-bottom: 1px solid #000;
					text-decoration: none;
					background-color: transparent !important;
				}
			}
			> a, > a.item {
				//border-bottom: 1px solid rgba(255,255,255,0);
				@include transition(color 0.2s ease-in-out);
				display: block;
				margin: 0 10px;
				line-height: 55px;
				text-transform: uppercase;
				text-decoration: none;
				position: relative;
				@extend h2;
				font-size: 25px;
				&:first-child:before {
					left: 0; right: auto;
				}
			}
			&.switch > a {
				@extend h2;
				font-weight: 500;
				font-size: 13px;
				text-transform: uppercase;
			}
		}
	}
}