/*
Theme Name: Torchkit - UK - SOS 2015
Theme URI: http://ximsystems.nl
Author: Oscar Smeulders
Author URI: oscarsmeulders.com
Template: torchkit
Description: Styling for oscarsmeulders.com
Version: 1.A
*/

@import url("../torchkit/style.css");
@import url("./css/styles.css");

