/*
	////////////////////////////////////////////////////////////////
*/
// background color for body, also used in the overview
$body-bg:							#3a93e1;

// global color for the top navigation, contrast with $body-bg
$nav-color-txt:						#fff;
$nav-color-txt-hover:				#b02431;

// color for the navigation backgronds
// the arrows are done with a extend
// include this in the class if the arrow should be white
// @extend %home-navigation-white;
// 'lees verder' can have a different color
$home-color-nav:					darken($body-bg, 10);
$home-color-nav-hover:				darken($home-color-nav, 10);
$home-color-nav-down:				darken($body-bg, 10);
$home-color-nav-down-hover:			darken($home-color-nav-down, 10);

// heading color + text color + image of first page
// relative to in public folder, can be changed online
// sub means the second heading, sub heading
$home-color-heading-bg:				#3a93e1;
$home-color-heading-txt:			#000;
$home-color-heading-sub-txt:		#000;
$home-bg-img:						'/';

// color for the overview thumb, the present one and the text
$thumb-color-txt:					#fff;
$thumb-color-bg:					darken($body-bg, 10);
$thumb-color-bg-present:			lighten($thumb-color-bg, 20);

// colors of the content pages
$content-color-txt:					#000;
$content-color-heading-txt:			#b02431;
$content-color-heading-sub-txt:		#3a93e1;
$content-color-bg:					#fff;

$content-link-bg:					$content-color-heading-txt;
$content-link-txt:					#fff;

$content-list-bg:					lighten($content-color-heading-sub-txt, 40);
$content-list-bg-hover:				lighten($content-color-heading-sub-txt, 30);
$content-list-txt-hover:			#000;

// in the flip a heading (video)?
// $flip-color-txt == heading txt
// $flip-color-bg == flip background
$flip-color-txt:					$home-color-heading-txt;
$flip-color-bg:						$content-color-bg;

// $flip-color-slideshow-txt == color of description
// $flip-color-slideshow-bg == color of background
$flip-color-slideshow-txt:			#000;
$flip-color-slideshow-bg:			$home-color-heading-bg;

// button too call the flip
// @extend %flip-icons-white if you wnat the icon white
$flip-color-bt:						#fcae04;
$flip-color-bt-hover:				lighten($flip-color-bt, 10);

// in the flip the 'close' / 'go back' button
// for white close button
// @extend %flip-close-icon-white
$flip-color-bt-close:				$home-color-nav;
$flip-color-bt-close-hover:			lighten($flip-color-bt-close, 10);
/*
	////////////////////////////////////////////////////////////////
*/
.contact-theme {
	@include theme-options;
	@extend %home-navigation-white;
	@extend %flip-bt-icons-white;
	//@extend %flip-close-icon-white;
	h5 {
		margin-bottom: 5px;
		padding-bottom: 0;
		color: $content-color-heading-sub-txt;
	}
	.content-image-txt ul {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 20px;
		li {
			padding-top: 0;
			margin-top: 0;
			list-style: none;
			margin-bottom: 10px;
		}
	}
}

.reveal.overview section[data-state *= 'contact-theme'] .thumb {
	background: $thumb-color-bg;
	h2 {
		color: $thumb-color-txt;
	}
}
.reveal.overview section[data-state *= 'contact-theme'].present  {
	background: $thumb-color-bg-present;
}
/*
	////////////////////////////////////////////////////////////////
*/