/*
	////////////////////////////////////////////////////////////////
*/
// background color for body, also used in the overview
$body-bg:							lighten(#f2f4e7, 5);

// global color for the top navigation, contrast with $body-bg
$nav-color-txt:						#03573d;
$nav-color-txt-hover:				darken($nav-color-txt, 15);

// color for the navigation backgronds
// the arrows are done with a extend
// include this in the class if the arrow should be white
// @extend %home-navigation-white;
// 'lees verder' can have a different color
$home-color-nav:					#7ba420;
$home-color-nav-hover:				darken($home-color-nav, 10);
$home-color-nav-down:				$home-color-nav;
$home-color-nav-down-hover:			darken($home-color-nav-down, 10);

// heading color + text color + image of first page
// relative to in public folder, can be changed online
// sub means the second heading, sub heading
$home-color-heading-bg:				#153319;
$home-color-heading-txt:			#FFF;
$home-color-heading-sub-txt:		#FFF;
$home-bg-img:						'/nl/wp-content/uploads/houseofgreen-home.jpg';

// color for the overview thumb, the present one and the text
$thumb-color-txt:					#fff;
$thumb-color-bg:					$home-color-heading-bg;
$thumb-color-bg-present:			lighten($thumb-color-bg, 20);

// colors of the content pages
$content-color-txt:					$home-color-heading-txt;
$content-color-heading-txt:			$home-color-heading-txt;
$content-color-heading-sub-txt:		$home-color-heading-txt;
$content-color-bg:					$home-color-heading-bg;

$content-link-bg:					#7ba420;
$content-link-txt:					#fff;
$content-list-txt-hover:			#000;

$content-list-bg:					lighten($content-color-bg, 2);
$content-list-bg-hover:				lighten($content-color-bg, 5);
$content-list-txt-hover:			#fff;

// in the flip a heading (video)?
// $flip-color-txt == heading txt
// $flip-color-bg == flip background
$flip-color-txt:					#fff;
$flip-color-bg:						$content-color-bg;

// $flip-color-slideshow-txt == color of description
// $flip-color-slideshow-bg == color of background
$flip-color-slideshow-txt:			#000;
$flip-color-slideshow-bg:			#FFF;

// button too call the flip
// @extend %flip-icons-white if you wnat the icon white
$flip-color-bt:						#d8468d;
$flip-color-bt-hover:				darken($flip-color-bt, 10);

// in the flip the 'close' / 'go back' button
// for white close button
// @extend %flip-close-icon-white
$flip-color-bt-close:				#d8468d;
$flip-color-bt-close-hover:			darken($flip-color-bt-close, 10);
/*
	////////////////////////////////////////////////////////////////
*/
.hog-theme {
	@include theme-options;
	@extend %home-navigation-white;
	@extend %list-navigation-white;
	@extend %flip-bt-icons-white;
	@extend %flip-close-icon-white;
	#hog-vormentaal {
		.bg {
			background-image: url('/nl/wp-content/uploads/houseofgreen-vormentaal.jpg');
		}
	}
	#hog-tuinObject {
		.bg {
			background-image: url('/nl/wp-content/uploads/hog-tuinobject.jpg');
		}
	}
	#hog-tuinObject-night {
		.bg {
			background-image: url('/nl/wp-content/uploads/houseofgreen_slide_1.jpg');
		}
	}
	#hog-etalage {
		.bg {
			background-image: url('/nl/wp-content/uploads/houseofgreen_slide_3.jpg');
		}
	}
	#hog-website-1 {
		.bg {
			background-image: url('/nl/wp-content/uploads/hog-website-1.jpg');
		}
	}
	#hog-website-2 {
		.bg {
			background-image: url('/nl/wp-content/uploads/hog-website-2.jpg');
		}
	}
	#hog-webshop-1 {
		.bg {
			background-image: url('/nl/wp-content/uploads/hog-webshop-1.jpg');
		}
	}
	#hog-webshop-2 {
		.bg {
			background-image: url('/nl/wp-content/uploads/hog-webshop-2.jpg');
		}
	}
}
.hog-theme.content-bg-txt-bottom h5 {
	color: $home-color-heading-bg;
}


.reveal.overview section[data-state *= 'hog-theme'] .thumb {
	background: $thumb-color-bg;
	h2 {
		color: $thumb-color-txt;
	}
}
.reveal.overview section[data-state *= 'hog-theme'].present  {
	background: $thumb-color-bg-present;
}
/*
	////////////////////////////////////////////////////////////////
*/