.clients {
	@include theme-options;
	@extend %home-navigation-white;

	.grid_3 {
		margin: 0px;
		padding: 0px;
		width: 25%;
		height: 200px;
		background-color: #fff;
		@include transition(background-color 0.1s ease-out);
	}
	img {
		position: absolute;
	}

}
